<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- Define property for virtual thread debugging -->
  <property name="virtualThreadDebug" value="${test.virtual.threads:-false}"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <encoder>
      <pattern>%date %level [%thread%X{DC}%X{VirtualThread}] %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Standard logging configuration -->
  <logger name="org.sonatype.nexus.blobstore.file" level="DEBUG"/>
  
  <!-- Virtual Thread specific logging -->
  <logger name="org.sonatype.nexus.thread" level="DEBUG"/>
  
  <!-- Conditional logging configuration for Virtual Threads -->
  <if condition='property("virtualThreadDebug").equals("true")'>
    <then>
      <logger name="java.lang.VirtualThread" level="TRACE"/>
      <logger name="org.sonatype.nexus.thread.io" level="TRACE"/>
      <logger name="org.sonatype.nexus.common.thread" level="TRACE"/>
      <logger name="org.sonatype.nexus.blobstore.virtualthread" level="DEBUG"/>
    </then>
  </if>

  <root level="${test.log.level:-INFO}">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
